langchain
langgraph
streamlit
chromadb
faiss-cpu
pypdf
groq
langgchain_groq
langchain_google_genai
tavily-python
serper
google-generativeai
python-dotenv
langchain-community
fastapi
uvicorn
httpx
sentence-transformers
Flask
flask-cors 